

.overall{
	height:700px;
	width:100%;
	}
	.container{
		margin:auto;
		outline:2px solid red;
		width:80%;
	}


.Featurs h1{
	text-align:center;
	font-size:20px;

}
.Featurs p{
	text-align:center;
	font-family:"Open sans",sans-serif;
}
.simply ul li{
	font-family:"Open sans",sans-serif;
	list-style:none;
	
	
	
}

}
.simply ul li i{
	color:blue;
}
.popular{
	display:flex;
	width:100%;
}
.version{
	width:50%
}
.version img{
	height:280px;
	width:100%
}
.simply{
	
}
.always{
	width:50%;
}
.always img{
	height:280px;
	width:100%;
	
}
.entry{
	display:flex;
}



@media(min-width:300px){
	.popular{
		display:inline-block;
	}
	.version{
		width:100%;
	}
	.entry{
		display:inline-block;
		
	}
	.always{
		width:100%;
	}
	.translation{
		padding:30px;
	}
}

@media(min-width:754px){
	.version{
		width:50%;
		display:inline-block;
		float:left;
	}
	.simply{
		width:50%;
		display:inline-block;

	}
	.translation{
		width:50%;
		display:inline-block;
		float:left;
		
	}
	.always{
		width:50%;
		display:inline-block;
	
	}
	
}