
	
	
	
	
	
	
	
	
	
	
	/*part-4*/
	
	*{  
    list-style:none; 
	margin:0;
	padding:0;
	box-sizing:border-box;

	}
	
	
	@media(min-width:300px){
		.pricing{
			height:auto;
			width:100%;
		}
		
		.pricing-element h1{
			font-size:50px;
			text-align:center;
			padding:20px;
		}
		.pricing-element p{
			font-size:30px;
			text-align:center;
		}
		.pricing-content{
		
			padding:40px;
			text-align:center;
			display:flex;
			flex-direction:column;
		}
		.free{
		    text-align:center;
			padding:30px;
			max-width:100%;
		
		}
		.free h1{
			font-size:60px;
			padding:30px;
		}
		.free sup{
			font-size:20px;
			color:blue;
			padding:10px;
		}
		.free sub{
			font-size:15px;
			color:lightgray;
			padding:10px;
		}
		.free p{
			font-size:20px;
			padding:25px;
		}
		.free button{
			font-size:20px;
			border-color:blue;
			color:blue;
			padding:10px;
		}
		.span{
			text-decoration:line-through;
		}
		
		.business{
     
			text-align:center;
			padding:30px;
	
			background-color:blue;
		
		}
		.business h1{
			font-size:60px;
			padding:30px;
		}
		.business sup{
			font-size:20px;
			color:white;
			padding:10px;
		}
		.business sub{
			font-size:15px;
			color:lightgray;
			padding:10px;
		}
		.business p{
			font-size:20px;
			padding:25px;
		}
		.business button{
			font-size:20px;
			border-color:white;
			color:blue;
			padding:10px;
		}
		.span{
			text-decoration:line-through;
		}
		.developer{
			text-align:center;
			padding:30px;
			
		}
		.developer h1{
			font-size:60px;
		    padding:20px;
		}
		.developer sup{
			font-size:20px;
			color:blue;
		
		}
		.developer sub{
			font-size:15px;
			color:lightgray;
			padding:10px;
		}
		.developer p{
			font-size:20px;
			padding:25px;
		}
		.developer button{
			font-size:20px;
			border-color:blue;
			color:blue;
			padding:10px;
		}
	}
	
	

	
	
	
	@media(min-width:992px){
         .pricing{
			 height:auto;
			 width:100%;
			 
		 }
		 .pricing-element h1{
			 font-size:30px;
		 }
		 .pricing-element p{
			 font-size:20px;
		 }
		 .pricing-content{
			 width:100%;
			 display:flex;
			 flex-direction:row;
		 }
		 .free h1{
			 font-size:30px;
		 }
		 .free button{
			 font-size:20px;
		 }
		 .business button{
			 font-size:20px;
		 }
		 .developer button{
			 font-size:20px;
		 }
		 .business h1{
			 font-size:30px;
		 }
		 .developer h1{
			 font-size:30px;
		 }
		 	
	}
	
	
	
	
	@media(min-width: 764px){
		.pricing-content{
          width:100%;
          height:auto;
		  display:flex;
		  justify-content:space-between;
		  flex-direction:row;
		  flex-wrap:wrap;
    		 
		}
		.free{
	    width:48%
		}
		.business{
		  width:48%
		}
		.developer{
          width:48%
		}
	
			
	}
	
	
	
	
	
	
	
		
	
			 
		 
	
		
	

	
	
	
	
	
	
	
	
	
	
	

			